

.fondo-dozer{
    width: 1517px;
}
.logo-dozer{
    width: 190px !important;
}
.contenido{
 padding: 320px 0px;
}
.titulo{
    padding: 25px 450px;
    font-family: rubik;
  
}
.tituto-constancia{
        padding: 25px 410px;
        font-family: rubik;
     
}

.contenido-texto{
    padding: 30px 300px;
    font-size: 25px;
    font-family: rubik;
    color: #4F4F4F !important;
    font-weight: 300;
}

.btn-descarga{
    margin: 40px 0;
    background: #C2AC7C !important;
    padding: 7px 150px !important;
    border-radius: 9px;
    color: white  !important;
    font-weight: 700  !important;
    font-size: 27px !important;
    font-family: rubik !important;
}
.p-logo{
    padding: 35px 0;
}

.titulo-espe {
    padding: 25px 480px;
    font-family: rubik;
    
}

.titulo-diplo {
    padding: 25px 520px;
    font-family: rubik;
    
}

.font-titulo{
    font-size: 31px !important;
    color: #171717
}

.titulo-excelencia{
    padding: 25px 500px;
    font-family: rubik;
    
}


.btn-descarga-cip{
    margin: 40px 0;
    background: #A41E26 !important;
    padding: 7px 150px !important;
    border-radius: 9px;
    color: white  !important;
    font-weight: 700  !important;
    font-size: 27px !important;
    font-family: rubik !important;
}

.titulo-cip{
    padding: 25px 410px;
    font-family: rubik;
}

.contenido-cip {
    padding: 500px 0px;
}
.titulo-cip-diplo {
    padding: 25px 520px;
    font-family: rubik;
}
.titulo-curso {
    padding: 25px 550px;
    font-family: rubik;
}